body{
    position: fixed;
    top: 0;
    left:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.container{
    background: linear-gradient(180deg, rgba(194, 36, 93, 0.88) 0%, rgba(235, 63, 64, 0.92) 74.56%), url('../img/cinema.svg');
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    height: inherit;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 60%;
}
form > input{
    margin: 1em 1em 1em ;
    padding-left: 0.5em;
    background: #EBEBEB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), inset 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

button{
    margin: 1em 1em 5em ;
    padding-left: 0.5em;
    background:rgba(37, 68, 176, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    color: white;
    line-height: 2.5;
}

@media only screen and (max-device-width: 992px){
    .container{
        background: linear-gradient(180deg, rgba(184, 0, 66, 0.86) 15.1%, rgba(230, 0, 0, 0.75) 99.12%);
        flex-direction: column;
    }

    form{
        width: 100%;
    }

    body{
        font-size: 48px;
    }
    .logo > img{
        padding-top: 1em;
        padding-bottom: 8em;
        width: 18em;
    }

    button, form > input {
        font-size: 1em;
        border-radius: 2em;


    }
}